.rating-system-container {
    display: flex;
  }
  
  .rating-badge {
    cursor: pointer;
    margin: 0 5px;
    padding: 10px 15px;
    font-size: 20px;
    transition: all 0.3s ease;
  }
  
  .rating-badge:hover {
    transform: scale(1.1);
  }
  
  .rating-badge:active {
    transform: scale(0.9);
  }
  