body {
  background-color: #121212; /* Dark background for the whole page */
  color: #e0e0e0; /* Light text color */
}
.card-img-top {
    height: 300px;
    object-fit: cover;
  }
  
  .card {
    transition: transform 0.2s ease-in-out;
    background-color: #002347;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .text-primary {
    color: #f0f0f0 !important;
  }
  
  .text-muted {
    color: #6c757d !important;
  }
  
  .mt-4 {
    margin-top: 1.5rem !important;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  